.plan-container {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.plan-container h3 {
  color: #010103;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.plan-container h1 {
  color: #010103;
  font-family: Poppins, sans-serif;
  font-size: 43.2px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.plan-container-boxes {
  display: flex;
  align-items: center;
  gap: 12rem;
}

@media (max-width: 428px) {
  .plan-container {
    margin-top: 32rem !important;
    background-color: transparent !important;
  }
  .plan-container h1 {
    font-size: 40px !important;
    text-align: center;
  }
  .plan-container-boxes {
    display: flex;
    flex-direction: column;
    gap: 0 !important;
  }
}
